.help-background-container{
    margin: 0;

    width: 100%;
    background-color:rgb(12, 31, 12)
}
.help-background-wrapper{
    display: flex;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.help-background-wrapper h4{
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}
.help-background-wrapper p{
    font-size: 15px;
    margin-top: .5rem;
}


.question-container{
    width: 100%;
    height: max-content;
}

.question-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.question-input-container{
    width: 80%;
    height: 50px;
    margin: auto;
}
.question-input-container input{
    width: 100%;
    height: 30px;
    padding: 10px;
}
.question-text-container{
    width: 80%;
    margin: auto;
}
.question-text-container>h6{
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
}
.question-text-wrapper{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.question-text{
    margin-top: 2rem;
    width: 50%;
    height: 270px;

}
.question-text h6{
    font-size: 1.1rem;
    margin-top: 1rem;
}
.question-text p{
    font-size: 1rem;
    margin-top: 1.1rem;
}

.question-text-container>p{
    margin-left: -1rem;
    margin-top: 1rem;
}

@media screen and (max-width: 480px) {
    .question-text-wrapper{
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
       
    }
    .question-text{
        margin-top: 2rem;
        width: 100%;
        height: max-content;

    
    }
}